In [2]:
# 1. Load the "students.csv" dataset using pandas.


import pandas as pd
from scipy import stats


df = pd.read_csv('students.csv')            
df.head()

# Once we've executed the code, the dataset will be loaded into a pandas DataFrame called df.
# then we can use df.head() to display the first few rows of the dataset

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64
Number of duplicate records: 2
Number of records after removing duplicates: 478
Outliers:

,Gender,Nationality,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,RaisedHands,VisitedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [4]:
# 2. Perform the following data-cleaning tasks:
# a. Identify and handle missing values:
# ● Check for missing values in the dataset.
# ● Decide on an appropriate strategy for handling missing values (e.g., dropping
# rows/columns, imputation).
# ● Implement the chosen strategy and update the dataset.

import pandas as pd

missing_values = df.isnull().sum()
print(missing_values)


# To check for missing values in the dataset, we can use the isnull() function followed by the sum() function 
# to get the count of missing values for each column:

Gender                      0
Nationality                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
RaisedHands                 0
VisitedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [5]:
# 3 b. Remove duplicate records:
# ● Identify any duplicate records in the dataset.
# ● Remove the duplicate records and update the dataset accordingly.

import pandas as pd

# Identify duplicate records
duplicate_rows = df.duplicated()
print("Number of duplicate records:", duplicate_rows.sum())

# Remove duplicate records
df_unique = df[~duplicate_rows].copy()

# Verify if duplicate records have been removed
print("Number of records after removing duplicates:", len(df_unique))

Gender                      0
Nationality                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
RaisedHands                 0
VisitedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [7]:
# 4. c. Fix data inconsistencies:
# ● Identify any inconsistencies or errors in the dataset (e.g., inconsistent
# capitalization, misspelled values).
# ● Correct the inconsistencies and update the dataset.

import pandas as pd

df = df.rename(columns={'gender': 'Gender'})
df = df.rename(columns={'NationalITy': 'Nationality'})
df = df.rename(columns={'raisedhands': 'RaisedHands'})
df = df.rename(columns={'VisITedResources': 'VisitedResources'})

df['Nationality'] = df['Nationality'].replace('lebanon', 'Lebanon')
df['Nationality'] = df['Nationality'].replace('venzuela', 'Venezuela')
df['Nationality'] = df['Nationality'].replace('Tunis', 'Tunisia')
df['PlaceofBirth'] = df['PlaceofBirth'].replace('KuwaIT', 'Kuwait')
df['PlaceofBirth'] = df['PlaceofBirth'].replace('venzuela', 'Venezuela')
df['PlaceofBirth'] = df['PlaceofBirth'].replace('lebanon', 'Lebanon')
df['PlaceofBirth'] = df['PlaceofBirth'].replace('Tunis', 'Tunisia')
df['StageID'] = df['StageID'].replace('lowerlevel', 'LowerLevel')
df['Relation'] = df['Relation'].replace('Mum', 'Mother')
df.head(10)

# First I have renamed the misspelled columns using rename() function and then correct the spellings using 
# replace()function

,Gender,Nationality,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,RaisedHands,VisitedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
5,F,KW,Kuwait,LowerLevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,Kuwait,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,Kuwait,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
8,F,KW,Kuwait,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
9,F,KW,Kuwait,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M

In [8]:
# 5. d. Convert data types:
# ● Check the data types of columns and ensure they are appropriate for their
# respective data.
# ● Convert any columns with incorrect data types to the correct ones (e.g., numeric
# columns to float/int, dates to datetime).


import pandas as pd

df.dtypes

# .dtypes() function wil show the data types of every column in dataset, but here we havent change or modified
# any datatype of column bcoz they are in correct format

Gender                      object
Nationality                 object
PlaceofBirth                object
StageID                     object
GradeID                     object
SectionID                   object
Topic                       object
Semester                    object
Relation                    object
RaisedHands                  int64
VisitedResources             int64
AnnouncementsView            int64
Discussion                   int64
ParentAnsweringSurvey       object
ParentschoolSatisfaction    object
StudentAbsenceDays          object
Class                       object
dtype: object

In [ ]:
# 6. e. Handle outliers:
# ● Identify any outliers in the dataset (e.g., extremely high or low values).
# ● Decide on an appropriate approach to handle the outliers (e.g., removing outliers,
# capping/extending values).
# ● Implement the chosen approach and update the dataset.

import pandas as pd

select_column1 = 'RaisedHands'
outliers = df[(df[select_column1] < df[select_column1].mean() - 8 * df[select_column1].std()) | (df[select_column1] < df[select_column1].mean() + 8 * df[select_column1].std())]

select_column2 ='VisitedResources'
outliers = df[(df[select_column2] < df[select_column2].mean() - 8 * df[select_column2].std()) | (df[select_column2] < df[select_column2].mean() + 8 * df[select_column2].std())]

select_column3 ='AnnouncementsView'
outliers = df[(df[select_column3] < df[select_column3].mean() - 8 * df[select_column3].std()) | (df[select_column3] < df[select_column3].mean() + 8 * df[select_column3].std())]

select_column4 ='Discussion'
outliers = df[(df[select_column4] < df[select_column4].mean() - 8 * df[select_column4].std()) | (df[select_column4] < df[select_column4].mean() + 8 * df[select_column4].std())]


print('Outliers: \n')
outliers

In [ ]:
# 7. Once you have performed the data cleaning tasks, save the cleaned dataset to a new file
# named "cleaned_students.csv".


import pandas as pd

df.to_csv("cleaned_students.csv", index=False)